* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: #262626;
  background-color: #F2F2F2;
}

body {
  /*width: 1300px;*/
  width: 80vw;
  min-width: 1000px;
  margin: 48px auto;
}
